classes/**/*.class
classes/*.md
classes/*.stat
classes/*.tbl
classes/*.txt
classes/BNJtemp-*
classes/NJtemp-*
classes/sort_*

testcases/*.md
testcases/*.stat
testcases/*.tbl
testcases/*.txt

*.in
*.out

.classpath
.project

.DS_Store