classes/**/*.class
classes/*.md
classes/*.stat
classes/*.tbl
classes/*.txt
classes/pass*
classes/BNJtemp-*
classes/NJtemp-*
classes/pass_*
classes/qp/operators/*.class
classes/SMJ*

testcases/*.md
testcases/*.stat
testcases/*.tbl
testcases/*.txt

*.in
*.out

.classpath
.project

.DS_Store