classes/**/*.class
classes/*.md
classes/*.stat
classes/*.tbl
classes/*.txt
classes/BNJtemp-*
classes/NJtemp-*
classes/pass_*
classes/qp/operators/*.class

testcases/*.md
testcases/*.stat
testcases/*.tbl
testcases/*.txt

*.in
*.out

.classpath
.project